<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
	<sitecore role:require="Standalone or ContentDelivery">
		<settings>
			<setting name="SlowNetwork" value="2g,3g"/>
			<!--<setting name="FastNetwork" value="4g"/>-->
		</settings>
		<pipelines>
			<httpRequestBegin>
				<processor type="VerticurlPoc.Foundation.NetworkType.Pipeline.RunServiceWorker.RunServiceWorkerPipeline,VerticurlPoc.Foundation.NetworkType" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.BeginDiagnostics, Sitecore.Kernel']"/>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>
